<app-page-header [title]="'userGroup.viewTitle' | translate">
  <p-button [label]="'common.edit' | translate" icon="pi pi-pencil" [routerLink]="['/user-groups', userGroupId, 'edit']"></p-button>
  <p-button [label]="'common.delete' | translate" icon="pi pi-trash" styleClass="p-button-danger" (onClick)="deleteUserGroup()"></p-button>
  <p-button [label]="'common.back' | translate" icon="pi pi-arrow-left" styleClass="p-button-secondary" routerLink="/user-groups"></p-button>
</app-page-header>

<div class="flex justify-content-center mt-3 px-3">
  <p-card class="page-card">
    <h3 class="form-section-title">{{ 'common.basicInfo' | translate }}</h3>
    <table class="detail-table">
      <tbody>
        <tr>
          <td class="detail-label">{{ 'common.name' | translate }}</td>
          <td class="detail-value">{{ userGroup.name || ('common.notAvailable' | translate) }}</td>
        </tr>
        <tr>
          <td class="detail-label">{{ 'common.description' | translate }}</td>
          <td class="detail-value">{{ userGroup.description || ('common.notAvailable' | translate) }}</td>
        </tr>
      </tbody>
    </table>

    <h3 class="form-section-title">{{ 'user.roles' | translate }}</h3>
    <p-table [value]="userGroup.roles || []" responsiveLayout="scroll" styleClass="view-table">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'common.name' | translate }}</th>
          <th>{{ 'common.code' | translate }}</th>
          <th>{{ 'common.description' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role>
        <tr>
          <td>{{ role.name }}</td>
          <td>{{ role.code }}</td>
          <td>{{ role.description || ('common.notAvailable' | translate) }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3" class="text-center">{{ 'user.noRolesAssigned' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
