<app-page-header [title]="'userGroup.searchTitle' | translate">
  <p-button *appPermissionHide="'user-group-manage'" [label]="'userGroup.createButton' | translate" icon="pi pi-plus" (onClick)="createUserGroup()"></p-button>
</app-page-header>

<div class="p-3">
  <p-accordion [(activeIndex)]="activeTabIndex">
    <p-accordionTab [header]="'common.search' | translate">
      <div [formGroup]="filterForm">
        <div class="grid">
          <div class="col-12 md:col-4 flex flex-column gap-2">
            <label for="filterName">{{ 'common.name' | translate }}</label>
            <input id="filterName" type="text" pInputText formControlName="name"
              [placeholder]="'userGroup.namePlaceholder' | translate" (keyup.enter)="search(dt)" />
          </div>
        </div>
        <div class="search-actions">
          <p-button [label]="'common.search' | translate" icon="pi pi-search" (onClick)="search(dt)"></p-button>
          <p-button [label]="'common.clear' | translate" icon="pi pi-times" styleClass="p-button-outlined p-button-secondary" (onClick)="clearFilters()"></p-button>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab [header]="'userGroup.listTab' | translate">
      <p-table #dt [value]="userGroups" [lazy]="true" (onLazyLoad)="fetchUserGroups($event)" [paginator]="true"
        [rows]="rows" [totalRecords]="totalRecords" [loading]="loading" [rowsPerPageOptions]="[10, 20, 50]"
        responsiveLayout="scroll" dataKey="id" selectionMode="single" [(selection)]="selectedUserGroup"
        (onRowSelect)="viewUserGroup($event.data)">
        <ng-template pTemplate="header">
          <tr>
            <th>{{ 'common.name' | translate }}</th>
            <th>{{ 'common.description' | translate }}</th>
            <th>{{ 'user.roles' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-userGroup>
          <tr class="selectable-row" [pSelectableRow]="userGroup">
            <td>{{ userGroup.name }}</td>
            <td>{{ userGroup.description || ('common.notAvailable' | translate) }}</td>
            <td>{{ userGroup.roles?.length || 0 }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3" class="text-center">{{ 'userGroup.noneFound' | translate }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
  </p-accordion>
</div>
