<p-menubar styleClass="app-header">
  <ng-template pTemplate="start">
    <div class="flex align-items-center">
      <img src="/assets/images/app-logo.png" alt="e-recruitment logo" class="w-2rem h-2rem mr-2" />
      <span class="font-semibold text-lg text-white line-height-3">E-RECRUITMENT</span>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-3">
      <a routerLink="/dashboard" class="line-height-3">Dashboard</a>
      <p-avatar [image]="profile.imageBase64" shape="circle" (click)="menu.toggle($event)"
        styleClass="cursor-pointer"></p-avatar>
      <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
    </div>
  </ng-template>
</p-menubar>
