
<div class="app-loading-overlay" *ngIf="loadingService.loading$ | async">
  <div class="app-loading-wave">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<app-header></app-header>
<router-outlet></router-outlet>
<p-confirmDialog></p-confirmDialog>
<p-toast position="top-right" [preventOpenDuplicates]="true"
  [showTransformOptions]="'translateX(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransformOptions]="'translateX(100%)'" [hideTransitionOptions]="'1000ms'"></p-toast>


