<app-page-header [title]="'role.viewTitle' | translate">
  <p-button *appPermissionHide="'role-manage'" [label]="'common.edit' | translate" icon="pi pi-pencil" [routerLink]="['/roles', roleId, 'edit']"></p-button>
  <p-button *appPermissionHide="'role-delete'" [label]="'common.delete' | translate" icon="pi pi-trash" styleClass="p-button-danger" (onClick)="deleteRole()"></p-button>
  <p-button [label]="'common.back' | translate" icon="pi pi-arrow-left" styleClass="p-button-secondary" (onClick)="navigateToSearch()"></p-button>
</app-page-header>

<div class="flex justify-content-center mt-3 px-3">
  <p-card class="page-card">
    <h3 class="form-section-title">{{ 'common.basicInfo' | translate }}</h3>
    <table class="detail-table">
      <tbody>
        <tr>
          <td class="detail-label">{{ 'common.name' | translate }}</td>
          <td class="detail-value">{{ role.name || ('common.notAvailable' | translate) }}</td>
        </tr>
        <tr>
          <td class="detail-label">{{ 'common.code' | translate }}</td>
          <td class="detail-value">{{ role.code || ('common.notAvailable' | translate) }}</td>
        </tr>
        <tr>
          <td class="detail-label">{{ 'common.description' | translate }}</td>
          <td class="detail-value">{{ role.description || ('common.notAvailable' | translate) }}</td>
        </tr>
      </tbody>
    </table>

    <h3 class="form-section-title">{{ 'role.permissions' | translate }}</h3>
    <p-table [value]="role.permissions || []" responsiveLayout="scroll" styleClass="view-table">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'common.name' | translate }}</th>
          <th>{{ 'common.authority' | translate }}</th>
          <th>{{ 'common.module' | translate }}</th>
          <th>{{ 'common.description' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-permission>
        <tr>
          <td>{{ permission.name }}</td>
          <td>{{ permission.authority }}</td>
          <td>{{ permission.module }}</td>
          <td>{{ permission.description || ('common.notAvailable' | translate) }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" class="text-center">{{ 'role.noPermissionsAssigned' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
